<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="521dbc4d-7fdc-48ea-8a1f-1d88d191aa8f"
            Publisher="CN=elton"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>UWAPIWrapperDemo</DisplayName>
    <PublisherDisplayName>elton</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="UWAPIWrapperDemo.App">
        <VisualElements
            DisplayName="UWAPIWrapperDemo"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="UWAPIWrapperDemo"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>